<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }} - {% endif %}{% block meta_title %}{% endblock %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->


{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

<!-- Bootstrap 3.0.3 -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

{% compress css %}
<!-- <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> -->
<link rel="stylesheet" href="{% static "css/fancybox/jquery.fancybox.css" %}">

<link rel="stylesheet" href="{% static "css/flexslider.css" %}">

<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">

<link rel="stylesheet" href="{% static "skins/default.css" %}">





{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% include "includes/footer_scripts.html" %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<div id="wrapper">
	<header>
<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
<div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
  {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}

</div>
<div class="navbar-collapse collapse">
       {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>
	</header>
{% block all_content %}
<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}


</div>
{% block breadcrumb_wrapper %}
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
</div>
</div>
</div>
</section>
{% endblock %}
{% block title_wrapper %}
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
					<h2>{% block title %}{% endblock %}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
<section id="{% block section_id %}content{% endblock %}">
<div class="container">
<div class="row">
{% block left_wrapper %}
	<div class="col-md-{% block left_col_size %}2{% endblock %} {% block left_class %}left{% endblock %}">
		{% block left_panel %}
		<div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
		{% endblock %}
	</div>
{% endblock %}
{% block main_wrapper %}

<div class="col-md-{% block main_col_size %}7{% endblock %} {% block main_class %}middle{% endblock %}">
    {% block main %}{% endblock %}
</div>
{% endblock %}

{% block right_wrapper %}

<div class="col-md-{% block right_col_size %}3{% endblock %} {% block right_class %}right{% endblock %}">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
	<aside class="right-sidebar">

    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}

	</aside>
</div>
{% endblock %}
</div>
</div>
</section>
{% endblock %}
<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}
<div id="sub-footer">
<div class="row">
<div class="col-lg-6">
          <div class="copyright">
            <p>
              <span>Style.css based on <a target="_blank" href="http://thecodinghouse.in/moderna">CodingHouse Moderna</a>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="social-network">
            <li><a title="" data-placement="top" href="//www.facebook.com/totalgood" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a title="@hobsonlane" data-placement="top" href="//twitter.com/goodtotal" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a title="linkedin.com/company/total-good" data-placement="top" href="//www.linkedin.com/company/total-good" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
<!--             <li><a title="" data-placement="top" href="//www.linkedin.com/company/total-good" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li><a title="" data-placement="top" href="//www.linkedin.com/company/total-good" data-original-title="Google plus"><i class="fa fa-google-plus"></i></a></li> -->
          </ul>
        </div>
</div>
</div>
</div>
</footer>
</div>
{% compress js %}

<script src="{% static "js/jquery.easing.1.3.js"%}"></script>

<script src="{% static "js/jquery.fancybox.pack.js"%}"></script>
<script src="{% static "js/jquery.fancybox-media.js"%}"></script>
<script src="{% static "js/google-code-prettify/prettify.js"%}"></script>
<script src="{% static "js/portfolio/jquery.quicksand.js"%}"></script>
<script src="{% static "js/portfolio/setting.js"%}"></script>
<script src="{% static "js/jquery.flexslider.js"%}"></script>
<script src="{% static "js/animate.js"%}"></script>
<script src="{% static "js/custom.js"%}"></script>
{% endcompress %}

</body>
</html>
