{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/1.png" %}" alt="" />
                <div class="flex-caption">
                    <h3>About Us</h3>
					<p>In a connected world it's important that machine intelligence is focused on the Total Good.</p>
					<a href="/about/" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/2.png" %}" alt="" />
                <div class="flex-caption">
                    <h3>Volunteer</h3>
					<p>If you love data and automation you can help us build a more intelligent world.</p>
					<a href="/about/" class="btn btn-theme">Join Us</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/3.png" %}" alt="" />
                <div class="flex-caption">
                    <h3>Contribute</h3>
					<p>Have some BitCoin to rattling around in your pocket? Understand the importance of positive sum games?</p>
					<a href="/donate/" class="btn btn-theme">Donate</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-cta">
          <div class="cta-text">
            <h2><span>TotalGood</span> Contributions to the Greater Good</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Hack Oregon</h4>
                <div class="icon">
                <img alt="Hack Oregon curly-bracket tree logo" src="{% static "img/works/hack-oregon.ico" %}" class="fa-3x">
                <!-- <i class="fa fa-bar-chart fa-3x"></i> -->
                </div>
                <p>We're excited to contribute to Hack Oregon.</p>
              </div>
              <div class="box-bottom">
                <a href="//hackoregon.org">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>PyBrain2</h4>
                <div class="icon">
                <i class="fa fa-github fa-4x"></i>
                </div>
                <p>
                 We forked PyBrain -> PyBrain2 (Neural Networks).
                </p>
              </div>
              <div class="box-bottom">
                <a href="//github.com/pybrain2/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Open Source</h4>
                <div class="icon">
                <i class="fa fa-github fa-4x"></i>
                </div>
                <p>
                 Everything we build is free and open source (MIT Licensed).
                </p>
              </div>
              <div class="box-bottom">
                <a href="//github.com/totalgood/">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- divider -->
    <div class="row">
      <div class="col-lg-12">
        <div class="solidline">
        </div>
      </div>
    </div>
    <!-- end divider -->
    <!-- Portfolio Projects -->
    <div class="row">
      <div class="col-lg-12">
        <h4 class="heading">Open Source</h4>
        <div class="row">
          <section id="projects">
          <ul class="portfolio" id="thumbs">
            <!-- Item Project and Filter Name -->
            <li data-type="web" data-id="id-0" class="col-lg-3 design">
            <div class="item-thumbs">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a href="{% static "//github.com/totalgood/pug-nlp" %}" title="PUG NLP Natural Language Processing" data-fancybox-group="gallery" class="hover-wrap fancybox">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img alt="pug-nlp -- Portland Python User Group - Natural Language Processing screenshot TFIDF Matrix" src="{% static "img/works/pug-nlp.jpg" %}">
            </div>
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a href="{% static "//github.com/totalgood/pug-ann" %}" title="PUG ANN Artificial Neural Networks" data-fancybox-group="gallery" class="hover-wrap fancybox">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img alt="pug-ann Python User Group Artificial Neural Networks flow diagram with math" src="{% static "img/works/pug-ann.jpg" %}">
            </li>
            <!-- End Item Project -->
          </ul>
          </section>
        </div>
      </div>
    </div>

  </div>
  </section>

{% endblock %}
